
body{
    background-image: url(../img/campo_minato_windows.png);
    background-size:cover;    
    background-repeat: no-repeat;
}

.ombra{   
    box-shadow: 0 10px 10px rgba(0, 0, 0, 0.7);    
}



.gif-img{
    width: 100%;
}